<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @season.title %>
</p>

<p>
  <strong>Show:</strong>
  <%= @season.show_id %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @season.started_at %>
</p>

<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path %>
