<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Kinster', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Shows', shows_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Actors', actors_path, class: 'nav-link' %>
      </li>
  </div>
</nav>
