<%= form_with(model: show, local: true) do |form| %>
  <% if show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :started_at %>
    <%= form.datetime_select :started_at %>
  </div>

  <div class="field">
    <%= form.label :finished_at %>
    <%= form.datetime_select :finished_at %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :genre_id %>
    <%= form.collection_select :genre_id, Genre.all, :id, :title %>
  </div>

  <div class="field">
    <%= form.label :director_id %>
    <%= form.collection_select :director_id, Director.all, :id, :full_name %>
  </div>

  <div class="field">
    <%= form.label :screenwriter_id %>
    <%= form.collection_select :screenwriter_id, Screenwriter.all, :id, :full_name %>
  </div>

  <div class="field">
    <%= form.label :is_finished %>
    <%= form.check_box :is_finished %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
