<p id="notice"><%= notice %></p>


<h1 class='h2'><%= @show.title %></h1>

<%= link_to 'Edit', edit_show_path(@show) %>

<div class="row">
  <div class="col-md-4">
    <h4>Metadata</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Genre: <%= @show.genre.title %></li>
      <li class="list-group-item">Screenwriter: <%= @show.screenwriter.full_name %></li>
      <li class="list-group-item">Director: <%= @show.director.full_name %></li>
      <li class="list-group-item">Started at: <%= @show.started_at.year %></li>
      <li class="list-group-item">Finished at: <%= @show.show_finished_at %></li>
    </ul>
  </div>

  <div class="col-md-4">
    <h4>Actors</h4>
    <ul class="list-group list-group-flush">
      <% @show.actors.each do |actor| %>
        <li class='list-group-item'><%= actor.full_name %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-4">
    <h4>Seasons</h4>
    <% @show.seasons.each do |season| %>
      <h6 class="mb-1"><%= season.title %></h6>
      <ul class='list-group list-group-flush mb-5'>
        <% season.episodes.each do |episode| %>
          <li class="list-group-item"><%= episode.title %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="col-md-12">
    <div class="jumbotron">
      <h4>Description</h4>
      <p>
        <%= @show.description %>
      </p>
    </div>
  </div>
</div>
